<nav class="navbar has-shadow is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p class="title">Estudy</p>
        </a>
        <a class="navbar-burger" data-target="nav-links">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
            <div class="navbar-item">
                <strong class="subtitle">Olá, Nome do Usuário</strong>
            </div>
            <div class="navbar-item">
                <a class="button is-danger px-5">
                    <strong>Sair</strong>
                </a>
            </div>
        </div>
    </div>
</nav>