<%- include('./partials/head_404.ejs') %>
<style>
    img {
        height: 15rem;
    }
</style>
<body>
    <div class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-12 is-flex is-justify-content-center">
                        <img src="/img/404.svg">
                    </div>
                </div>

                <div class="columns is-centered">
                    <div class="column is-12">
                        <p class="title has-text-centered">Página não encontrada</p>
                    </div>
                </div>

                <div class="columns is-centered">
                    <div class="column is-12 has-text-centered">
                        <a href="/" class="button is-warning px-5 py-5"><strong>Home</strong></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>