<%- include('./partials/head.ejs') %>
<title>Início</title>
<body>
    <%- include('./partials/navbar.ejs') %>
    <main class="hero is-primary is-normal">
        <div class="hero-body">
            <div class="container">
                <div class="lds-dual-ring"></div>
                <div class="columns is-vcentered is-centered">
                    <div class="column has-text-centered">
                        <img src="/img/estude.svg" alt="">
                    </div>
                    <div class="column has-text-centered-mobile">
                        <div class="content">
                            <p class="title">Otimize seus estudos</p>
                            <p class="subtitle">Não perca seu tempo com coisas desnecessárias</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section">
        <div class="columns">
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/flash_card.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Flash Cards</p>
                        </div>
                        <div class="content has-text-centered">
                                Ferramenta simples e útil para memorização de perguntas.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth" href="/users/login">Criar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/caderno_virtual.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Caderno Virtual</p>
                        </div>
                        <div class="content has-text-centered">
                            Crie suas próprias anotações enquanto estuda.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth" href="/users/login">Criar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/agenda.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Agenda</p>
                        </div>
                        <div class="content has-text-centered">
                            Programe e organize a sua rotina de estudo.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth" href="/users/login">Criar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section form">
            <div class="container">
                <div class="columns is-centered is-vcentered has-text-centered-mobile">
                    <div class="column is-6">
                        <div class="content">
                            <p class="title">Comece a estudar agora mesmo</p>
                            <p class="subtitle">Crie sua conta totalmente grátis</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <form action="/users/save" class="box" method="post">
                            <label class="label">Nome de usuário</label>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input type="text" class="input is-primary" placeholder="Nome" name="name" id="name">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <label class="label">E-mail</label>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input type="email" class="input is-primary" placeholder="E-mail" name="email" id="email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                            <label class="label">Senha</label>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input is-primary" type="password" name="password" id="password" placeholder="Senha">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <div class="mt-4">
                                        <div id="pswmeter"></div>
                                    </div>
                                    <div class="has-text-grey is-size-7 mt-2">
                                        1) Pelo menos uma letra minúscula.
                                        2) Pelo menos uma letra maiúscula.
                                        3) Pelo menos um número.
                                        4) Pelo menos 8 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="field has-text-centered">
                                <button class="button is-primary mt-4 is-fullwidth">Cadastrar-se</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section is-primario is-hidden-mobile">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <% if (success) { %>
        <script>
            bulmaToast.toast({
                message: '<%= success %>',
                type: 'is-info',
                duration: 3000,
                animate: { in: 'fadeIn', out: 'fadeOut' }
            })
        </script>
    <% } %>
    <script>
        const myPassMeter = passwordStrengthMeter({
            containerElement: '#pswmeter',
            passwordInput: '#password',
            showMessage: true,
            messageContainer: '#pswmeter-message',
            messagesList: [
                'Senha vazia',
                'Senha muito simples',
                'Senha fraca',
                'Senha razoável',
                'Senha forte'
            ],
            colorScore2: 'hsl(48, 100%, 67%)',
            colorScore3: 'hsl(141, 71%, 48%)',
            colorScore4: 'hsl(141, 50%, 48%)'
        });
        const form = document.querySelector('form')
        form.onsubmit = (e) => {
            e.preventDefault()
            const name = document.querySelector('#name').value
            const email = document.querySelector('#email').value
            const password = document.querySelector('#password').value
            if (validator.isEmpty(name) || validator.isEmpty(email) || validator.isEmpty(password)) {
                form.style.animation = 'shake 0.82s cubic-bezier(.36,.07,.19,.97) both';
                form.style.transform = 'translate3d(0, 0, 0)';
                form.style.backfaceVisibility = 'hidden';
                form.style.perspective = '1000px';
                if (document.querySelector('.notification') == undefined) {
                    bulmaToast.toast({
                        message: 'Preencha todos os campos!',
                        type: 'is-danger',
                        duration: 3000,
                        animate: { in: 'fadeIn', out: 'fadeOut' }
                    })
                }
            }
            else {
                if (validator.isStrongPassword(password, {minSymbols: 0})) {
                    form.submit()
                }
                else {
                    form.style.animation = 'shake 0.82s cubic-bezier(.36,.07,.19,.97) both';
                    form.style.transform = 'translate3d(0, 0, 0)';
                    form.style.backfaceVisibility = 'hidden';
                    form.style.perspective = '1000px';
                    if (document.querySelector('.notification') == undefined) {
                        bulmaToast.toast({
                            message: 'Senha não atende os requisitos!',
                            type: 'is-danger',
                            duration: 3000,
                            animate: { in: 'fadeIn', out: 'fadeOut' }
                        })
                    }
                }
            }
        }
        form.onanimationend = (e) => {
            form.style.animation = '';
            form.style.transform = '';
            form.style.backfaceVisibility = '';
            form.style.perspective = '';
        }
    </script>
</body>

</html>