html {
    height: 100%;
}

body {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    display: none;
}

img {
    min-width: 100px;
    max-width: 350px;
    text-align: center;
}

.is-primario {
    background-color: hsl(171, 100%, 41%);
    color: #eee;
}

.is-info {
    background-color: hsl(204, 86%, 53%);
    color: #eee;
}

.is-primario .title, .is-info .title {
    color: #eee;
}

figure img {
    width: 100%;
    /* height: 200px; */
}

div img {
    width: 100%;
}

.section {
    margin-top: auto;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html.sr .card {
    visibility: hidden;
}

html.sr .hero-body {
    visibility: hidden;
}

html.sr .form {
    visibility: hidden;
}

html.sr .level {
    visibility: hidden;
}

html.sr .table {
    visibility: hidden;
}

.presentation {
    max-width: 300px;
}

.table td, .table th {
    vertical-align: middle;
}

table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

/* on large screens, I use a different layout, so 600px are sufficient */

@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
        width: 600px !important;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.notification {
    cursor: pointer;
    text-align: center;
    user-select: none;
    margin-top: 3.5rem;
}