<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/css/bulma-calendar.min.css">

<body>
    <%- include('../../partials/navbar_user.ejs') %>
        <div class="hero is-primary is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <form class="box" action="/users/login" method="POST">
                                <div class="field">
                                    <label class="label">Nome da Agenda Virtual</label>
                                    <div class="control">
                                        <input class="input" type="email" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Data da Agenda Virtual</label>
                                    <div class="control">
                                        <input type="date" required>
                                    </div>
                                </div>

                                <div class="field">
                                    <button class="button is-primary">
                                        <strong>
                                            Criar
                                        </strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/bulma-calendar.min.js"></script>
        <script>
            const calendars = bulmaCalendar.attach('[type="date"]', {
                displayMode: 'dialog',
                showFooter: false,
                dateFormat: 'dd/MM/yyyy'
            });
        </script>
        <%- include('../../partials/footer.ejs') %>
</body>