<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="hero is-primary is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <form class="box" action="/users/auth" method="POST">
                            <div class="field">
                                <label class="label" for="">E-mail</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" placeholder="E-mail" name="email" id="email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="">Senha</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Senha" name="password" id="password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <button class="button is-primary mt-4 is-fullwidth"> <strong>Entrar</strong></button>
                            </div>

                            <div class="field">
                                <a class="has-text-info" href="/users/new">Não tenho conta</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <% if (error) { %>
        <script>
            bulmaToast.toast({
                message: '<%= error %>',
                type: 'is-danger',
                duration: 3000,
                animate: { in: 'fadeIn', out: 'fadeOut' }
            })
        </script>
    <% } %>
    <script>
        const form = document.querySelector('form')
        const email = document.querySelector('#email')
        const password = document.querySelector('#password')
        form.onsubmit = (e) => {
            e.preventDefault()
            if (validator.isEmpty(email.value) || validator.isEmpty(password.value)) {
                form.style.animation = 'shake 0.82s cubic-bezier(.36,.07,.19,.97) both';
                form.style.transform = 'translate3d(0, 0, 0)';
                form.style.backfaceVisibility = 'hidden';
                form.style.perspective = '1000px';
                if (document.querySelector('.notification') == undefined) {
                    bulmaToast.toast({
                        message: 'Preencha todos os campos!',
                        type: 'is-danger',
                        duration: 3000,
                        animate: { in: 'fadeIn', out: 'fadeOut' }
                    })
                }
            }
            else {
                form.submit()
            }
        }
        form.onanimationend = (e) => {
            form.style.animation = '';
            form.style.transform = '';
            form.style.backfaceVisibility = '';
            form.style.perspective = '';
        }
    </script>
</body>