<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="hero is-primary is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <form class="box" action="/users/new" method="POST">
                            <div class="field">
                                <label class="label">
                                    Nome
                                </label>

                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Nome" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">
                                    E-mail
                                </label>

                                <div class="control has-icons-left">
                                    <input class="input" type="email" placeholder="E-mail" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label">
                                    Senha
                                </label>

                                <div class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Senha" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <button class="button is-primary mt-4 is-fullwidth">
                                    <strong>Cadastrar</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>