<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar_user.ejs') %>
    <main class="hero is-primary is-normal">
        <div class="hero-body">
            <div class="container">
                <div class="lds-dual-ring"></div>
                <div class="columns is-vcentered is-centered">
                    <div class="column has-text-centered">
                        <img class="presentation" src="/img/panel.svg" alt="">
                    </div>
                    <div class="column has-text-centered-mobile">
                        <div class="content">
                            <p class="title">Painel de controle</p>
                            <p class="subtitle">Controle e acesse suas ferramentas de estudo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section class="section">
        <div class="columns">
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/flash_card.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Flash Cards</p>
                        </div>
                        <div class="content has-text-centered">
                                Ferramenta simples e útil para memorização de perguntas.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth">
                                <strong>
                                    Acessar
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/caderno_virtual.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Caderno Virtual</p>
                        </div>
                        <div class="content has-text-centered">
                            Crie suas próprias anotações enquanto estuda.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth">
                                <strong>
                                    Acessar
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card">
                    <div class="card-image">
                        <figure class="has-text-centered">
                            <img src="/img/agenda.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media-content has-text-centered pb-4">
                            <p class="title">Agenda</p>
                        </div>
                        <div class="content has-text-centered">
                            Programe e organize a sua rotina de estudo.
                        </div>
                        <div class="field">
                            <a class="button is-primary is-fullwidth">
                                <strong>
                                    Acessar
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section is-primario is-hidden-mobile">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Flash Cards
                    </p>
                    <p class="title">
                        0
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Cadernos Virtuais
                    </p>
                    <p class="title">
                        0
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">
                        Agendas
                    </p>
                    <p class="title">
                        0
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.id = 'usuario'
        socket.emit('quemsou', {id: socket.id})
    </script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>